/* General HTML (tags) */
	body {background-color:#eeeeee;}
	a:link {color:#0000ee;text-decoration:underline;}
	a:visited {color:#551a8b;text-decoration:underline;}
	a:active {color:#ee0000;text-decoration:underline;}
	h1 {font-size:2.2em;}
	h2 {font-size:1.8em;}
	h3 {font-size:1.6em;}
	h4 {font-size:1.3em;}
	h5 {font-size:1.125em;}
	h6 {font-size:1em;}
	h1, h2, h3, h4, h5, h6 {font-weight:bolder;}

/* General HTML (classes) */
	.prose, .table {font-family:"Lucida Sans Unicode",Lucida Sans,Lucida Casual,Lucida Bright,Arial,sans-serif;font-weight:normal;font-size:14px;}
	.hs {font-family:"Courier",Courier New,Consolas,Lucida Console,Lucida Typewriter,monospace;font-weight:bold;font-size:14px;}
	.console {font-family:"System",Consolas,Lucida Console,monospace;font-weight:normal;font-size:14px;}
	.hstable {border-spacing:2px;border-collapse:seperate;background:#626262;color:#000000; border:4px solid #626262;}
	.hsth {background-color:#008282;text-align:left;font-weight:bold;}
	.hstd {background-color:#b2d9d9;font-weight:normal;}

/* Custom tags */
	prose {font-family:"Lucida Sans Unicode",Lucida Sans,Lucida Casual,Lucida Bright,Arial,sans-serif;font-weight:normal;font-size:14px;}
	hs {font-family:"Courier",Courier New,Consolas,Lucida Console,Lucida Typewriter,System,monospace;font-weight:bold;font-size:14px;}
	console {font-family:"System",Consolas,Lucida Console,monospace;font-weight:normal;font-size:14px;}
	yell {font-size:18px;}
	whisper {font-size:10px;}
	soft {font-weight:normal;}
	und {text-decoration:underline;}

/* Text colours */
	.john {color:#0715cd;}
	.rose {color:#b536da;}
	.dave {color:#e00707;}
	.jade {color:#4ac925;}

	.jane {color:#00d5f2;}
	.roxy {color:#f141ef;}
	.dirk {color:#f2a400;}
	.jake {color:#1f9400;}

	.aradia, .damara {color:#a10000;}
	.tavros, .rufioh {color:#a15000;}
	.sollux, .mituna {color:#a1a100;}
	.karkat {color:#626262;}
	.karkatalt, .kankri {color:#ff0000;}
	.lime {color:#658200;}
	.nepeta, .meulin {color:#416600;}
	.kanaya, .porrim {color:#008141;}
	.terezi, .latula {color:#008282;}
	.vriska, .aranea {color:#005682;}
	.equius, .horuss {color:#000056;}
	.gamzee, .kurloz {color:#2b0057;}
	.eridan, .cronus {color:#6a006a;}
	.feferi, .meenah {color:#77003c;}

	.docscratch, .scratch, .white {color:#ffffff;}
	.calliope {color:#929292;}
	.caliborn {color:#323232;}
	.calibornalt {color:#2ed73a;}
	.dad {color:#4b4b4b;}
